/**
 *  CSS written with love by Vit Karpov (http://github.com/vitkarpov/) in 2013 ;)
 *
 *  It uses BEM method 
 *  but not uses assemblers tools 
 *  and preprocessors.
 */

/* global */

html, body { height: 100%; }
a { color: #2266ff; }

/* page START */

.page 
{
  margin: 0;
  padding: 0;
  min-width: 1000px;

  font: normal 14px/18px PT Sans, Arial, sans-serif;
  background: white;
}

.page-container 
{
  position: relative;
  min-height: 100%;
  height: auto;
  overflow: hidden;
}

.page-wrapper 
{
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-content
{
  padding-bottom: 45px;
}

.page-footer
{
  position: relative;
  margin-top: -45px;
}
.page-footer:before,
.page-footer:after 
{
  content: "";
  display: table;
  width: 100%;
  visibility: hidden;
}

.page-footer-text
{
  margin: 10px 0;
}

.page-content:before,
.page-content:after
{
  content: "";
  display: table;
  width: 100%;
  visibility: hidden;
}

.page-caption 
{
  font-size: 38px;
  line-height: 32px;
  margin: 28px 0;
}

.page-controls
{
  margin: 20px 0;
}

.page-share
{
  float: right;
  margin-top: -5px;
}

/* page END */

/* tasks START */

.tasks 
{
  list-style: none;
  padding: 0;
  margin: 20px -15px;
  padding: 15px;
  border: 1px dashed lightgray;
}

.tasks-item
{
  position: relative;
  padding: 5px 0 5px 25px;
  min-height: 20px;
  overflow: hidden;
}

.tasks-item-inner
{
  position: relative;
}

.tasks-check 
{
  border: 0;
  margin: 3px 0 0 0;

  position: absolute;
  margin-left: -25px;
}

.tasks-item-edit,
.tasks-destroy
{
  float: right;
  margin-left: 10px;
  margin-top: 4px;

  text-decoration: none;
  border-bottom: 1px dotted #2266ff;
  font-size: 12px;
  line-height: 12px;

  opacity: 0;

  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.tasks-item:hover .tasks-item-edit,
.tasks-item:hover .tasks-destroy {
  opacity: 1;
}

.js-tasks-item--completed .tasks-caption { color: lightgray; text-decoration: line-through; }
.js-tasks-item--hidden { display: none; }

.tasks-caption { 
  display: block;
  width: 80%;
  font-size: 16px; 
}

.tasks-edit
{
  position: absolute;
  width: 80%;

  border: 0;
  padding: 2px 5px;
  margin: -2px 0 0 -5px;

  font-size: 16px;
  line-height: 18px;
  font-family: 'PT Sans';

  -webkit-box-shadow: inset 0 1px 3px lightgray;
  -moz-box-shadow: inset 0 1px 3px lightgray;
  box-shadow: inset 0 1px 3px lightgray;

  display: none;
  resize: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tasks-edit:focus
{
  outline: 1px solid yellow;
}
.js-tasks-item--editing .tasks-edit { display: block; }

/* tasks END */

/* stats START */

.stats 
{
  margin: 5px 0;
}

.stats-tasks-left
{
  font-size: 16px;
  font-weight: bold;
}

.js-stats--no-tasks-left 
{
  visibility: hidden;
}

/* stats END */

/* filters START */

.filters 
{
  margin: 10px 0;
  margin-left: -8px;
}

.filters-item
{
  display: inline-block;
  padding: 2px 4px;
  margin: 0 4px;
}

.filters-item--active
{
  background: lightyellow;
  color: black;
  text-decoration: none;
}

/* filters END */

/* new task field START */

.new-task
{
  width: 100%;
  height: 28px;
  padding: 5px 35px 5px 10px;
  border: 1px solid lightgray;

  line-height: 28px;
  font-size: 21px;

  -webkit-box-shadow: inset 0 1px 4px lightgray;
  -moz-box-shadow: inset 0 1px 4px lightgray;
  box-shadow: inset 0 1px 4px lightgray;
  border-radius: 4px;
}

.new-task-wrapper
{
  position: relative;
  padding-right: 45px;
}
.new-task-wrapper:after
{
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: url(./enter-sprite.png) no-repeat;
}
.new-task-wrapper--focused:after { background-position: -16px 0; }

/* new task field END */

/* about */
.about { margin: 55px 0; }
.about-picture { 
  float: left; 
  margin: -10px 20px 0 -10px;
  padding: 10px;
  border: 1px dashed lightgray;
}
.about-picture img { display: block; }
.about-joke { text-decoration: line-through; }

/* Loading Behavior */

.js-app--no-tasks .js-tasks,
.js-app--no-tasks .js-stats
{
  display: none;
}