<div class="stats">Осталось выполнить: <strong class="stats-tasks-left js-stats-tasks-left">1</strong></div>
<div class="filters">
  <a href="#/" class="filters-item filters-item--active js-filters-item">Все</a>
  <a href="#/active" class="filters-item js-filters-item">Невыполненные</a>
  <a href="#/completed" class="filters-item js-filters-item">Выполненные</a>
</div>
<% if (completed) { %>
  <button class="clear-completed js-clear-completed">Удалить выполненные (<%= completed %>)</button>
<% } %>  
