<div class="tasks-item-inner">
  <textarea class="tasks-edit js-tasks-edit"></textarea>
  <a href="#delete/{{ order }}" class="tasks-destroy">Удалить</button>
  <a href="#edit/{{ order }}" class="tasks-item-edit">Редактировать</a>
  <label class="tasks-caption">
    <input type="checkbox" class="tasks-check js-tasks-check" {{#if completed}} checked {{/if}}> {{ title }}
  </label>
</div>